html {
    scroll-behavior: smooth;
  }

.cursor-pointer{
    cursor: pointer !important;
  }

.main-color {
    background-color: #5FD9FC;
}

.main-color-text {
    color: #5FD9FC;
}

.hidden-text-color {
    color: #acc2c8;
} 

.subtitle-color {
    color:#999c9f;
}

#hero-section{
    height: 92vh;
    padding: 10%;
    background: url(images/smoke.jpg) no-repeat center center;

}
.section{
    height: 100vh;
}

#first {
    background-color: #D0EDF5;
    padding: 10%;
}

#seccond {
    background-color: #81C4D6;
    padding: 10%;
}

#third {
    background-color: #017291;
    display: flex;
}

.carousel-inner-custom {
    height: 100%;
    padding: 9%;
}

.carousel-inner-custom-description {
    font-size: large;
}

#forth {
    background-color: rgb(42, 224, 164);
}

#fifth {
    background-color: rgb(23, 80, 61);
}

#sixth {
    background-color: rgb(24, 88, 67);
    height: 50vh !important;
}

#seventh {
    background-color: rgb(154, 214, 194);
    padding: 10%;
}